<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ym.traegergill">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.ym.traegergill.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
      <!--  //开发者申请的key-->
<!--        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="9ffdf58c4c445633fbc13856b11a2687">

        </meta-data>-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="998yqtshy4te4vttva53" />

        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="tgerq5dehmava7vaddasawygxkhwmfdj" />

        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <activity
            android:name=".activity.AppStartActivity"
            >
            <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.ItemsDetailActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.ym.traegergill"
            android:excludeFromRecents="true"
            android:theme="@style/AppFullTheme" />
        <activity android:name=".activity.FilterActivity" />
        <activity
            android:name=".activity.RecipesDetailActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.ym.traegergill"
            android:excludeFromRecents="true"
            android:theme="@style/AppFullTheme" />
        <activity
            android:name=".activity.CreateAccountActivity"
            android:theme="@style/AppWhiteTheme"
            android:windowSoftInputMode="adjustUnspecified|stateUnspecified" />
        <activity
            android:name=".activity.SignInActivity"
            android:theme="@style/AppFullTheme"
            android:windowSoftInputMode="adjustUnspecified|stateUnspecified" />
        <activity android:name=".activity.SetUpActivity" />
        <activity android:name=".activity.EditNameActivity" />
        <activity android:name=".activity.EditPasswordActivity" />
        <activity
            android:name=".activity.ConnectWifiGuidActivity"
            android:theme="@style/AppFullTheme" />
        <activity android:name=".activity.AddDevicesGuidActivity" />
        <activity android:name=".activity.SetUpWifiDeviceActivity" />
        <activity android:name=".activity.TryConnectDeviceActivity" />
        <activity android:name=".activity.DevicesActivity" />
        <activity
            android:name=".activity.RemoteControlActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.ym.traegergill"
            android:excludeFromRecents="true"
            android:theme="@style/AppWhiteTheme" />
        <activity android:name=".activity.SettingGrillActivity" />
        <activity android:name=".activity.AlarmsActivity" />
        <activity android:name=".activity.MiniFeedRateActivity" />
        <activity android:name=".activity.TempCalibrationActivity" />
        <activity android:name=".activity.CountryListActivity" />
        <activity android:name=".activity.AddDeviceSuccessActivity" />
        <activity android:name=".activity.AddDeviceErrorActivity" />
        <activity android:name=".activity.TempChartActivity"
            android:theme="@style/AppWhiteTheme"
            />
        <activity android:name=".activity.FilterRecipesActivity" />
        <activity android:name=".activity.RecipesSearchActivity"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateVisible"
            />

        <activity
            android:name=".activity.ForgetPswActivity"
            android:theme="@style/AppFullTheme"
            android:windowSoftInputMode="adjustUnspecified|stateUnspecified" />

        <activity android:name=".activity.BrowserActivity" />
        <activity android:name=".activity.TalkActivity" />
        <activity android:name=".activity.AddTalkActivity" />
        <activity android:name=".activity.DealerLocatorActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.MapsActivity" />
        <activity android:name=".activity.ShowVersionActivity" />
        <activity android:name=".activity.TestActivity" />

        <receiver android:name="com.ym.traegergill.broadcast.WifiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.ym.traegergill.service.TraegerGillService"
            android:exported="true">
        </service>
        <receiver android:name="com.tuya.smart.android.base.broadcast.NetworkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tuya.smart.android.hardware.service.GwBroadcastMonitorService"
            android:exported="true"
            android:label="UDPService"
            android:process=":monitor">
            <intent-filter>
                <action android:name="tuya.intent.action.udp" />

                <category android:name="tuya" />
            </intent-filter>
        </service>
        <service
            android:name="com.tuya.smart.android.hardware.service.GwTransferService"
            android:exported="true"
            android:label="TCPService"
            android:process=":transfer">
            <intent-filter>
                <action android:name="tuya.intent.action.tcp" />

                <category android:name="tuya" />
            </intent-filter>
        </service>
    </application>

</manifest>